 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 10px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 690px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 630px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 22px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 69px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
  margin: 50px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 20px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 630px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  height: 593px;
  width: 593px;
  background-image: url("images/financier-using-laptop-table.jpg");
  background-position: 58.35% 50%;
  margin: 19px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 142px;
  height: 54px;
  margin: -94px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-2 .u-image-1 {
    height: 410px;
    background-position: 50% 50%;
    width: 410px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 40px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-2 .u-image-1 {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 597px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 500px;
    width: 500px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-2 .u-image-1 {
    height: 320px;
    width: 320px;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/AACPL.jpg");
  background-position: 50% 7.17%;
}

.u-section-3 .u-sheet-1 {
  min-height: 388px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  border-style: none;
  background-image: none;
  margin: 30px auto 60px;
}

.u-section-3 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 116px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 355px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px auto 8px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-4 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-4 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-4 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-4 .u-icon-3 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-4 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 10px;
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/notebook_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 571px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 531px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 23px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 531px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin: 23px auto 0 0;
}

.u-section-6 .u-table-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-6 .u-table-header-1 {
  background-image: none;
}

.u-section-6 .u-table-cell-1 {
  margin-left: 0;
  margin-right: 396px;
}

.u-section-6 .u-table-cell-4 {
  margin-left: 397px;
  margin-right: 0;
}

.u-block-031a-30 {
  height: 46px;
}

.u-section-6 .u-text-3 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 438px;
  }

  .u-section-6 .u-table-cell-1 {
    margin-right: 318px;
  }

  .u-section-6 .u-table-cell-4 {
    margin-left: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-table-cell-1 {
    margin-right: 234px;
  }

  .u-section-6 .u-table-cell-4 {
    margin-left: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-table-cell-1 {
    margin-right: 390px;
  }

  .u-section-6 .u-table-cell-4 {
    margin-left: 390px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-6 .u-table-cell-1 {
    margin-right: 240px;
  }

  .u-section-6 .u-table-cell-4 {
    margin-left: 240px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/books_1280.jpg");
  background-position: 50% 54.86%;
}

.u-section-7 .u-sheet-1 {
  min-height: 188px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 20px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 137px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-text-1 {
  margin: 18px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 148px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-7 .u-text-2 {
  margin: 42px 222px 0 20px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -37px 0 0 auto;
}

.u-section-7 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 113px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 122px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 85px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 40px;
    margin-bottom: -29px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 15px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 303px;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 30px;
  margin-bottom: -154px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 244px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-8 .u-image-1 {
  width: 139px;
  height: 117px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-8 .u-image-2 {
  width: 139px;
  height: 117px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-8 .u-image-3 {
  width: 139px;
  height: 117px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-8 .u-image-4 {
  width: 139px;
  height: 117px;
  margin: 0 auto;
}

.u-section-8 .u-list-item-5 {
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-8 .u-image-5 {
  width: 139px;
  height: 117px;
  margin: 0 auto;
}

.u-section-8 .u-list-item-6 {
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-8 .u-image-6 {
  width: 139px;
  height: 117px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-8 .u-image-7 {
  width: 139px;
  height: 117px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-8 .u-image-8 {
  width: 139px;
  height: 117px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 0;
    height: auto;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 201px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 616px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 10px;
}.u-section-10 .u-sheet-1 {
  min-height: 465px;
}

.u-section-10 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-10 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 346px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-2 {
  margin: 0 1px;
}

.u-section-10 .u-text-3 {
  width: 244px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-10 .u-text-4 {
  width: 230px;
  margin: 20px auto 0;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-5 {
  margin: 0 1px;
}

.u-section-10 .u-text-6 {
  width: 244px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-10 .u-text-7 {
  width: 230px;
  margin: 20px auto 0;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-text-8 {
  margin: 0 1px;
}

.u-section-10 .u-text-9 {
  width: 244px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-10 .u-text-10 {
  width: 230px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: 13px;
    height: auto;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 467px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}